body{
    margin: 0;
    font-family: sans-serif;
}
.bg-image{
    height: 100vh;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-position: center ;
    background-size: cover ;
    background-attachment: 160%;
}
.container{
    padding: 100px;
}
h1{
    font-size: 50px;
}
p{
    color: gray;
}
@media (max-width: 500px) {
    .container{
        padding: 10px;

    }
}