*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color: #24305f;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
}
.accordion{
    margin: 50px auto ;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.item{
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 30px;
    align-items: center;
    padding: 30px;
    cursor: pointer;
    border-radius: 5px;
}
h2{
    font-size: 24px;
    text-transform: capitalize;
}
.number{
    font-size: 24px;
}
.icon{
    width: 24px;
    height: 24px;
}
.hidden-box{
    grid-column: 2/3;
    display: none;
}
.hidden-box p{
    line-height: 1.6;
    margin-bottom: 24px;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 3px;
}
.hidden-box ul{
    display: flex;
    flex-direction: column;
}
.hidden-box ul li{
    line-height: 1.6;
    margin-left: 16px;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 3px;
}
.active{
    position: relative;
}
.active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-top: 2px solid blue;
    animation: borderline 1s linear forwards;
}
@keyframes borderline {
    0%{width: 0;}
    100%{width: 100%;}
}

.active .hidden-box{
    display: block;
}