body{
    margin: 0;
    height: 100vh;
    background-color: black;
}
span{
    background: url(https://cdn4.iconfinder.com/data/icons/small-n-flat/24/heart-256.png);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    pointer-events: none;
    animation: animate 6s linear;
}
@keyframes animate {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}