*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: sans-serif;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: sans-serif;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: lightpink;
}
.gameInfo{
    padding: 0 34px;
    font-family: sans-serif;
}
.imgBox img{
    display: none;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}