body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}
.image-container{
    text-align: center;
}
.image-container img{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
    background-color: lightgray;
    width: 300px;
    height: 300px;
}
.btn{
    background-color: slateblue;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
